<div class="footer align-items-end text-center">
	<small>
		<span class="small">
			<a href="https://www.truefiremedia.com/" target= "_blank" rel= "noopener noreferrer">@TrueFireMedia</a>
		</span>
	</small>
</div>