<nav class="navbar fixed-top">
  
    <%= link_to "CitadelScandal", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <i class="fas fa-bars text-secondary"></i>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasNavbarLabel">CitadelScandal</h4>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Archive", archive_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://fliphtml5.com/bookcase/kosyg" target= "_blank" rel= "noopener noreferrer">Library</a>
          </li>
          <li class="nav-item">
            <%= link_to "Social Media", social_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
  
</nav>